@import './_variables';


body{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue',Arial, sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: $background !important;
    background-image:url('../../images/sfondo.png') !important;
    background-attachment: fixed;
    display: block;

}

$danger: #ff8400;
$warning: rgba(248, 7, 7, 0.952);

.btn-warning{
    
    color: $warning !important;
    background-color:  white !important;
    margin: 2px solid $warning !important;
    
}

.btn-warning:hover{

    color: white !important;
    background-color: $warning !important;
}


.active{
    color: white !important;
}

.btn-danger{

    color: white !important;
    background-color:$danger !important;
}

.btn-danger:hover{

    color: white !important;
    background-color: $danger !important;
}

.btn-outline-danger:hover{

    color: white !important;
    background-color: #ffb300 !important;
}



@import "bootstrap";