.nav-link:hover {
    color: #ffa929 !important;
    text-decoration: none !important;
    font-weight: 10px;
  }
  
#itemdropdown:active {
    background-color:#ffa929;
}


.dropdown-menu {
    box-shadow: 0px 15px 15px rgb(112, 57, 6) !important;
    border: 0px !important; 
    
}

.navbar {
    
    background-color: white;
    box-shadow: 0px 0.3px 3px grey;
    
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 100;
  }
